aniso8601==0.92
Babel==1.3
blinker==1.3
click==3.3
configman==1.2.8
configobj==5.0.6
coverage==3.7.1
decorator==3.4.0
flake8==2.3.0
Flask==0.10.1
Flask-Babel==0.9
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-OpenID==1.2.4
Flask-RESTful==0.3.1
Flask-SQLAlchemy==2.0
Flask-WhooshAlchemy==0.56
Flask-WTF==0.11
flipflop==1.0
future==0.14.3
guess-language==0.2
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mccabe==0.3
pbr==0.10.7
pep8==1.6.1
pyflakes==0.8.1
PyMySQL==0.6.3
python-openid==2.2.5
pytz==2014.10
requests==2.5.1
six==1.9.0
speaklater==1.3
sqlacodegen==1.1.5
SQLAlchemy==0.9.8
sqlalchemy-migrate==0.9.4
sqlparse==0.1.14
Tempita==0.5.2
Werkzeug==0.10.1
Whoosh==2.6.0
WTForms==2.0.2
