aniso8601==0.92
click==3.3
configman==1.2.8
configobj==5.0.6
flake8==2.3.0
Flask==0.10.1
Flask-RESTful==0.3.1
Flask-SQLAlchemy==2.0
future==0.14.3
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mccabe==0.3
pep8==1.5.7
pyflakes==0.8.1
PyMySQL==0.6.3
pytz==2014.10
requests==2.5.1
six==1.9.0
sqlacodegen==1.1.5
SQLAlchemy==0.9.8
Werkzeug==0.10.1
